{% extends 'templates/front/base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="list-block">
        <div class="list-body">
            {% if pagination is not empty %}
                <div class="divTable" style="width: 100%; font-family: 'OS';">
                    <div class="divTableBody">
                        <div class="divTableRow bold">
                            <div class="divTableCell divTableCell-w15">{{ knp_pagination_sortable(pagination, 'Category'|trans, 'category.name' ~ app.request.locale|capitalize) }}</div>
                            <div class="divTableCell divTableCell-w35">{{ 'Title'|trans }}</div>
                            <div class="divTableCell date-cl">{{ knp_pagination_sortable(pagination, 'Date'|trans, 'post.createdAt') }}</div>
                            <div class="divTableCell act-cl">{{ 'Actions'|trans }}</div>
                        </div>
                        {% for post in pagination %}
                            <div class="divTableRow divTableRowWhite">
                                <div class="divTableCell divTableCell-w15">{{ post.category.name }}</div>
                                <div class="divTableCell divTableCell-w35">{{ post.title|truncate(40, true) }}</div>
                                <div class="divTableCell date-cl">{{ post.getCreatedAt()|date('d-m-Y H:i') }}</div>
                                <div class="divTableCell act-cl actions">&nbsp;
                                    <a class="scnd" href="{{ path('front_my_post_edit', {'id': post.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    <a class="frst" href="{{ path('front_my_post_show', {'id': post.id}) }}"><i class="fas fa-eye"></i></a>
                                    <a class="thrd delete_row" href="{{ path('front_my_post_delete', {'id': post.id}) }}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% else %}
                <h1 style="font-size: 21px !important;">{{ 'No posts found'|trans }}</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.delete_row').click(function(){
            return confirm("{{ 'Are you sure you want to delete?'|trans }}");
        });
    </script>

{% endblock %}
