{% extends 'templates/admin/base.html.twig' %}

{% block title %}{{ 'Create new Category'|trans }}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('vendor/dropzone/basic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/dropzone/dropzone.min.css') }}">
    {% endblock %}

{% block body %}
    <h1>{{ 'Create new Category'|trans }}</h1>

    {{ form_start(form, {'attr': {'id': 'form'}}) }}

    <div>
        <label for="category_section" class="required">{{ 'Section'|trans }}</label>
        <select id="category_section">
            {% for category in categories %}
                {% if category.parent.name == 'root'%}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="only_section_checkbox">{{ 'Only section'|trans }}</label>
        <input type="checkbox" id="only_section_checkbox">
    </div>

    {{ form_row(form.parent) }}
    {{ form_row(form.nameEn) }}
    {{ form_row(form.nameFr) }}

    <div class="dz-upload-img" style="display: none">
        <label for="dZUpload" class="required">{{ 'Upload image'|trans }}</label>
        <div style="width: 350px !important; margin: 0" id="dZUpload" class="dropzone"></div>
    </div>

    <div style="padding: 20px 0 0 150px; justify-content: center">
        <button type="submit" class="btn-save">{{ 'Create'|trans }}</button>
        <a class="back_to" href="{{ path('admin_category_index') }}">{{ 'Back'|trans }}</a>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>#}
    <script type="text/javascript" src="{{ asset('vendor/dropzone/dropzone.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('vendor/dropzone/dropzone-amd-module.min.js') }}"></script>#}
    <script>
        $(document).ready(function () {
            Dropzone.autoDiscover = false;
            $("#dZUpload").dropzone({
                url: "{{ oneup_uploader_endpoint('gallery') }}",
                addRemoveLinks: true,
                maxFilesize: 5,
                maxFiles: 1,
                acceptedFiles: "image/*",
                dictDefaultMessage: "Drop images here or click to upload...",
                // parallelUploads: 5,
                success: function (file, response) {
                    var imgName = response;
                    file.previewElement.classList.add("dz-success");
                    console.log("Successfully uploaded :" + imgName);
                },
                error: function (file, response) {
                    console.log(response);
                    $.notify(response, 'error');
                    file.previewElement.classList.add("dz-error");
                }
            });
        });
    </script>

    <script>
        $( document ).ready(function() {
            addCategories();

            $('#category_section').on('change', function (event) {
                event.preventDefault();
                addCategories();
            });

            $("#only_section_checkbox").on('change', function (event) {
                event.preventDefault();
                $('#category_parent').parent().toggle();
                $('.dz-upload-img').toggle();
                addCategories();
            });

            function addCategories() {
                $('#category_parent > option').remove();
                var section_id = $('#category_section').val();

                if ($("#only_section_checkbox").is(':checked')) {
                    $('#category_parent').append($("<option selected></option>").attr("value", section_id));
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ (path('front_my_post_get_categories_ajax')) }}",
                        data: {parent_category_id: section_id},
                        success: function (data) {
                            $('#category_parent > option').remove();
                            // $('.category').remove();

                            var category_option = '';
                            $.each(data, function (key, category) {
                                if (category.name !== 'root') {
                                    category_option += '<option value="' + category.id + '">' + category.name + '</option>';

                                    if ($('#category_section').val() == 0 && category.sub_categories.length > 0) {
                                        console.log($('#category_section').val());
                                        $.each(category.sub_categories, function (key, sub_category) {
                                            category_option += '<option value="' + sub_category.id + '">&nbsp&nbsp&nbsp' + sub_category.name + '</option>';
                                        });
                                    }
                                }
                            });

                            $('#category_parent').append(category_option);
                        },
                        error: function () {
                            console.log('addCategories() error');
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}