{% extends 'templates/admin/base.html.twig' %}

{% block title %}{{ 'Edit Parameter'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Parameter'|trans }}</h1>

    {{ form_start(form, {attr: {'id': 'form'}}) }}
    <div>
        <label for="category_section" class="required">{{ 'Section'|trans }}</label>
        <select id="category_section">
            {% for category in categories %}
                {% if category.parent.name == 'root'%}
                    <option value="{{ category.id }}" {{ category.id == parameter.category.parent.id ? 'selected' : (category.id == parameter.category.parent.parent.id ? 'selected' : '' ) }}>{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="only_section_checkbox">{{ 'Only section'|trans }}</label>
        <input type="checkbox" id="only_section_checkbox">
    </div>

    {{ form_row(form.category) }}
    {{ form_row(form.nameEn) }}
    {{ form_row(form.nameFr) }}
    {{ form_row(form.type) }}
    {{ form_row(form.tag) }}
    {{ form_row(form.isFilter) }}
    {{ form_row(form.filtersIndex) }}
    {{ form_row(form.isColumn) }}
    {{ form_row(form.columnsIndex) }}
    {{ form_row(form.isPost) }}
    {{ form_row(form.postsIndex) }}
    {{ form_row(form.isRange) }}
    {{ form_row(form.isBold) }}

    <h4 style="padding: 10px 0 5px 150px">{{ 'Options'|trans }}</h4>
    {#<div style="padding-left: 150px">#}
        <ul style="padding-left: 150px" class="options"  data-index="" data-prototype="{{ form_widget(form.options.vars.prototype)|e('html_attr') }}">
            {% if parameter.tag != 'Input' %}
                {% for option in parameter.options %}
                    <li style="position: relative; margin-bottom: 4px;">{{ option.getName() }}
                        <a class="option_delete_btn" href="#" data-option_id="{{ option.id }}">
                            <i class="fa fa-times" aria-hidden="true" style="margin-left: 2px"></i>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    {#</div>#}

    <div style="padding: 20px 0 0 150px; justify-content: center">
        <button type="submit" id="parameters_storage_save"  class="btn-save">{{ 'Update'|trans }}</button>
        <a class="back_to" href="{{ path('admin_parameter_index') }}">{{ 'Back'|trans }}</a>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            var category_id = {{ parameter.category.id }};
            if (category_id === 0) {
                console.log('okiii');
                $("#only_section_checkbox").attr('checked','checked');
                $('#parameter_category').parent().toggle();
            }
            addCategories();

            $('#category_section').on('change', function (event) {
                event.preventDefault();
                addCategories();
            });

            $("#only_section_checkbox").on('change', function (event) {
                event.preventDefault();
                $('#parameter_category').parent().toggle();
                addCategories();
            });

            function addCategories() {
                $('#parameter_category > option').remove();
                var section_id = $('#category_section').val();

                if ($("#only_section_checkbox").is(':checked')) {
                    $('#parameter_category').append($("<option selected></option>").attr("value", section_id));
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ (path('front_my_post_get_categories_ajax')) }}",
                        data: {parent_category_id: section_id},
                        success: function (data) {
                            // $('.category').remove();
                            $('#parameter_category > option').remove();

                            var category_option = '';
                            $.each(data, function (key, category) {
                                if (category.name !== 'root') {

                                    var sub_category_option = '';
                                    // var disabled = '';
                                    var cat_selected = '';
                                    var cat_id = {{ parameter.category.id }}
                                    if (cat_id === category.id) {
                                        cat_selected = 'selected';
                                    }

                                    if (category.sub_categories.length > 0) {
                                        disabled = 'disabled';
                                        $.each(category.sub_categories, function (key, sub_category) {
                                            var sub_cat_selected = '';
                                            if (cat_selected === '' && cat_id === sub_category.id) {
                                                sub_cat_selected = 'selected';
                                            }
                                            sub_category_option += '<option value="' + sub_category.id + '" ' + sub_cat_selected + '>&nbsp&nbsp&nbsp' + sub_category.name + '</option>';
                                        });
                                    }

                                    // category_option += '<option value="' + category.id + '" '+cat_selected+' '+disabled+'>' + category.name + '</option>';
                                    category_option += '<option value="' + category.id + '" ' + cat_selected + '>' + category.name + '</option>';
                                    category_option += sub_category_option;
                                }
                            });

                            $('#parameter_category').append(category_option);
                        },
                        error: function () {
                            console.log('error');
                        }
                    });
                }
            }

            $(".option_delete_btn").on('click', function (e) {
                var option_id = $(this).attr("data-option_id");
                url = "{{ path('admin_option_delete_ajax', {id: 0}) }}";
                url = url.replace("0",option_id);
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (data) {
                        if (data === 'success') {
                            $.notify('Option successfully removed', 'success');
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>

    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="add_tag_link">{{ 'Add an option'|trans }}</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        $(document).ready(function() {

            var moveElement = $('#parameters_storage_options');

            $collectionHolder = $('ul.options');
            $collectionHolder.before(moveElement);

            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {

            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;

            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li style="position: relative"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            $newFormLi.append($('<i style="position: absolute; right: 0; top: 0;" class="fa fa-times" aria-hidden="true"></i>'));
        }

        $(document).on('click', '.fa-times', deleteItem);

        function deleteItem() {
            $(this).closest('li').remove();
        }
    </script>
{% endblock %}
